In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
data = pd.read_csv('data/yar_vil.csv',sep=";", encoding='cp1251')
data.head()

,N,uezd,volost,name_0,unit,n1,n2,n3,n4,n5,...,a6,dor,a7,type1,type2,type3,fromant,antr,comment,Unnamed: 39
0,9,Пошехонский уезд,Ериловская волость,лес. стр. Филино,NaN,NaN,85,—,—,NaN,...,NaN,NaN,NaN,х,д,NaN,NaN,NaN,NaN,NaN
1,8,Угличский уезд,Ермоловская волость,"зав. ""пуст. Лопенино""",NaN,NaN,67,—,—,—,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,Рыбинский уезд,Болобановская волость,"мон. ""Югская Дорофеева Пустынь""",NaN,NaN,48,—,—,—,...,NaN,NaN,NaN,ц,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Рыбинский уезд,Георгиевская волость,д. Абакумово,NaN,47,43,—,—,—,...,NaN,NaN,NaN,х,NaN,NaN,NaN,NaN,NaN,NaN
4,9,Романово-Борисоглебский уезд,Рыжиковская волость,д. Абакумово,XIII. Прокунинское общество,85,48,6,—,NaN,...,NaN,NaN,NaN,х,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10234 entries, 0 to 10233
Data columns (total 40 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            10234 non-null  int64
 1   uezd         10234 non-null  object
 2   volost       10234 non-null  object
 3   name_0       10234 non-null  object
 4   unit         8854 non-null   object
 5   n1           9546 non-null   object
 6   n2           10220 non-null  object
 7   n3           10223 non-null  object
 8   n4           10223 non-null  object
 9   n5           2931 non-null   object
 10  prihod       9493 non-null   object
 11  a1           0 non-null      float64
 12  a2           0 non-null      float64
 13  a3           1 non-null      object
 14  a4           0 non-null      float64
 15  a5           0 non-null      float64
 16  record_text  10233 non-null  object
 17  name_1       10111 non-null  object
 18  name_2       156 non-null    object
 19  vo           10234 non-null  int64
 20  no           10234 non-null  int64
 21  ka           10234 non-null  int64
 22  ki           10234 non-null  int64
 23  ci           10234 non-null  int64
 24  sch          10234 non-null  int64
 25  oe           10234 non-null  int64
 26  skoe         10234 non-null  int64
 27  ne           10234 non-null  int64
 28  ha           10234 non-null  int64
 29  slob         10234 non-null  object
 30  a6           32 non-null     float64
 31  dor          0 non-null      float64
 32  a7           0 non-null      float64
 33  type1        10039 non-null  object
 34  type2        1209 non-null   object
 35  type3        1102 non-null   object
 36  fromant      115 non-null    object
 37  antr         193 non-null    object
 38  comment      665 non-null    object
 39  Unnamed: 39  4 non-null      object
dtypes: float64(7), int64(11), object(22)
memory usage: 3.1+ MB

In [16]:
((data['name_1'].value_counts().values) == 1).sum()

5581